<h2>Inscription</h2>
<form>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput type="text" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Prénom</mat-label>
    <input matInput type="text" required>
  </mat-form-field>

  <div class="form-actions">
    <button mat-button (click)="onCancel()">Annuler</button>
    <button mat-raised-button class="submit-button">S'inscrire</button>
  </div>
</form>
