@use "./theme";
@import "./theme.sass";
@import "./bootstrap/_bootstrap";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: 'Playfair Display', serif;}

.mat-mini-fab {
  color : theme.$white !important;
}

.mat-raised-button {
  color : theme.$white !important;
}

table {
  font-size: medium;
  tr {
    height: 57px;
    td {
      vertical-align: middle;
    }
  }

}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
