@use "src/theme";

nav {
  height: 120px;
  background: transparent;
  display: flex;
  align-items: center;

  .nav-container {
    height: 100%;
    width: 100%;
  }

  .nav-logo {
    height: 60px;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.nav-title {
  font-size: 4rem;
  color: theme.$white;
  margin: 0;
  text-align: center;
  flex: 1;
  font-family: 'Lora', serif;
}

.nav-links {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.mat-nav-list {
  padding-inline: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.mat-list-base .mat-list-item {
  font-size: large;
  color: theme.$white;
  transition: 0.3s;
  width: max-content;

  &:hover {
    transform: scale(1.2);
  }
}
